{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
        <link rel = "icon" href = "{% static 'image/logo.png' %}" type = "image/png">
    </head>


    <body>
        
        <!-- header -->
        <header class = "header" id = "header">
            <div class = "head-top">
                <div class = "site-name">
                    <a href="index.html" class="maintitle">HOTEL ANNAPURNA</a>
                </div>
                <div class = "site-nav">
                    <span id = "nav-btn">MENU <i class = "fas fa-bars"></i></span>
                </div>
            </div>
        </header>
        <!-- end of header -->

        <!-- side navbar -->
        <div class = "sidenav" id = "sidenav">
            <span class = "cancel-btn" id = "cancel-btn">
                <i class = "fas fa-times"></i>
            </span>

            <ul class = "navbar">
                <li><a href = "{% url 'index' %}">back to home</a></li>
            </ul>

            <a href="{% url 'adminlogin' %}" class="btn sign-up">Admin</a>
            <a href="{% url 'userlogin' %}" class="btn log-in">User</a>

        </div>
        <!-- end of side navbar -->


<body>
  <div class="logincontainer">

    <div class="loginsub-container">
      <!-- <div class=" info">
      <h2>HELLO THERE !!</h2>
      <br>
      <h3>By signing in, you can <br>
      access wide range of <br>
      our website </h3>
      
    </div> -->


    <form method="POST" id="register" class="login-form">
      <div class="logintitle">
      User Register form
      </div>

      {% csrf_token %}

      <div class="input-fields">
      <label class="inputlabel">Username</label>
      {{form.username}}
      <!-- <input type="text" id="name" class="logininput" required> -->
      </div>

      <div class="input-fields">
      <label class="inputlabel">Password</label>
      {{form.password1}}
      <!-- <input type="password" id="pass" class="logininput" required> -->
      </div>

      <div class="input-fields">
      <label class="inputlabel">Re-Enter Password</label>
      {{form.password2}}
      <!-- <input id="repass" type="password" class="logininput" required> -->
      </div>
        
      <div class="input-fields">
      <label class="inputlabel">Email</label>
      {{form.email}}
      <!-- <input id="email" type="text" class="logininput" required> -->
      </div>

      <div class="input-fields">
        <label class="inputlabel">Contact</label>
        {{form.phone}}
        <!-- <input id="contact" type="number" class="logininput" required> -->
      </div>

      <div class="btn">
      <button type="submit">Register</button>
      <p class="message">Already Registered? <a href="{% url 'userlogin' %}">Login</a></p>
      </div>
          {{form.errors}}
          
    </form>

  </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
    <script src="{% static 'js/script.js' %}"></script> 

</body>

        <!-- footer -->
        <footer class = "footer">
            <div class = "footer-container">
                <div>
                    <h2>Social Medias </h2>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque s --><!-- apiente mollitia doloribus provident? Eos quisquam aliquid vel dolorum, impedit culpa.</p> -->
                    <ul class = "social-icons">
                        <li class = "flex">
                           <a href="https://twitter.com/?lang=en"> <i class = "fa fa-twitter fa-2x"></i></a>
                        </li>
                        <li class = "flex">
                          <a href="https://www.facebook.com/"> <i class = "fa fa-facebook fa-2x"></i></a>
                        </li>
                        <li class = "flex">
                            <a href="https://www.instagram.com/"><i class = "fa fa-instagram fa-2x"></i></a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h2>Useful Links</h2>
                    <a href = "https://www.flickr.com/photos/tags/flicker/">Gallery</a>
                    <a href = "#">Subscription Offers</a>
                    <a href = "#">Gift Cards</a>
                </div>

                <div>
                    <h2>Any Question</h2>
                    <div class = "contact-item">
                        <span>
                            <i class="fas fa-map-marked-alt"></i>
                        </span>
                        <a href="https://www.google.com/maps/place/Hotel+Annapurna/@27.7111012,85.3143569,17z/data=!3m1!4b1!4m8!3m7!1s0x39eb190162d2fb35:0x98eccd6cf32b17f9!5m2!4m1!1i2!8m2!3d27.7110965!4d85.3165456">
                             Kathmandu 44600,Nepal</a>
                        </span>
                    </div>
                    <div class = "contact-item">
                        <span>

                            <i class="fas fa-phone-square-alt"></i>
                        </span>
                        <span>
                           <a href="https://www.viber.com/en/"> +977 1234567890</a>
                        </span>
                    </div>
                    <div class = "contact-item">
                        <span>
                            <i class="fas fa-envelope-square"></i>
                        </span>
                        <span>
                            <a href="https://mail.google.com/mail/u/0/"> annapurna@gmail.com</a> <!-- dummy -->
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end of footer -->


</html>